<div class="row">
    <div class="col">
        <h2><strong>Aptitudes</strong></h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                Creativo
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                Proactivo
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                Lider
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                Capacidad de trabajo en equipo
            </a>
        </div>
    </div>

    <div class="col">
        <h2><strong>Habilidades</strong></h2>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                HTML, PHP, CSS Y JS
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">
                Manejo en base de datos SQL Y NOSQL
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                POO, Programación reactiva y estructurada
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                Manejo de Frameworks con Laravel y Angular
            </a>
        </div>
    </div>
</div>