<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/cristian.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Cristian López Ramirez</h5>
          <ul class="list-group">
            <li class="list-group-item">Edad: 21 años</li>
            <li class="list-group-item">Estado civil: soltero</li>
            <li class="list-group-item">Lugar de nacimiento: Córdoba Veracruz</li>
            <li class="list-group-item">Correo electrónico: cristianlr144@gmail.com</li>
            <li class="list-group-item">Fecha de nacimiento: 30 de septiembre de 1999</li>
          </ul>
        </div>
      </div>
    </div>
</div>