<h1>Datos académicos</h1>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Universidad</div>
        Universidad Tecnológica del Centro de Veracruz - Ingeniería en Desarrollo y Gestión de Software 
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Bachillerato</div>
        COBAEV 46 - área humanidades, capacitación informática 
      </div>
    </li>
</ol>